@import url('https://fonts.googleapis.com/css?family-Poppins:400, 500, 700');
/* Bootstrap Padding Fix */
[class*="col-"]{
  padding: 1rem;
}

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

body::-webkit-scrollbar{
  width: 0.25rem;
}

body::-webkit-scrollbar-track{
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb{
  background: #5993c2;
}

.width{
  width: 90%;
}

/* navbar */
.navbar{
  padding: .8rem;
}
.navbar-nav li{
  padding-right: 20px;
}
.nav-link{
  font-size: 1.1em !important;
}

.padding{
  padding-bottom: 2rem;
}

.news{
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.news hr{
  border-top: 2px solid #b4b4b4;
  width: 95%;
}
/* particle ball animation */
#canvas {
  display: block;
  width: 50%;
  
}
.particle{
  padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
  align-items: center;
  color: rgb(30, 90, 170)
}
/* landing page */
#particles-js{
  height: 100%;
  background-color: #031e47;
}

.landing-fixed{
  margin-left: 5%;
  position: absolute;
  color: #fff;
  font-family: sans-serif;
}
.landing {
  position: relative;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.landing h1 {
  text-align: center;
  font-size: 3rem;
  padding: 20px;
  font-family: Helvetica;
  margin: 15px;
  z-index: 1;
  color: white
}

/*fixed background */
.fixed{
  background: linear-gradient(rgba(0, 0, 20, 0.5), rgba(0, 0, 20, 0.5)),url(NYC.jpg) no-repeat center center fixed;
  height: 40vh;
}

/*footer*/
footer{
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}
hr.light{
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
hr.light-100{
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

/* social media */
.social a{
  font-size: 2em;
  padding: 1rem;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-linkedin:hover{
  color: #d5d5d5;
}
.fa-facebook{
  color: #3b5998;
}
.fa-instagram{

  color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.fa-linkedin {
  color: #007bb5;
}

/* media queries */
@media (max-width: 992px){
  .social a{
    font-size: 2em;
    padding: 1rem;
  }
}
@media (max-width: 768px){
  .display-4{
    font-size: 200%;
  }
}
@media (max-width: 576px){

}

/* about page */
.about{
  width: 75%;
  margin: 0 auto;
  padding-top: 8rem;
}
.about hr{
  border-top: 2px solid #b4b4b4;
  width: 95%;
}
.about-pic{
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 980px){
  .about-pic img{
    width: 500px;
    height: auto;
  }
}

@media screen and (max-width: 980px){
  .about-pic img{
    width: 100%;
  }
}